PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
MYSQLHOST=
MYSQLUSER=
MYSQLPASSWORD=
MYSQLDATABASE=
MYSQLPORT=
JWT_SECRET=
CLIENT_URL=
EMAIL_USER=
EMAIL_PASS=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=Pharm WMS
EXPIRY_ALERT_CRON=0 7 * * *
TZ=Asia/Ho_Chi_Minh
